<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
      <li>
          <div class="user-profile m-t-20">
              <div class="user-pic"><img alt="users" class="rounded-circle img-fluid" src="assets/images/user.jpg"></div>
              <div class="user-content hide-menu m-t-10 dropdown">
                  <h5 class="m-b-10 user-name font-medium">Lorem Ipsum</h5>
              </div>
          </div>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="#">
              <i class="menu-icon fa fa-tachometer" aria-hidden="true"></i>
              <span class="menu-title">Dashboard</span>
          </a>
      </li>

      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon fa fa-user"></i>
              <span class="menu-title">Remote Licencing</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
              <i class="menu-icon fa fa-globe menu-icon"></i>
              <span class="menu-title">Language Admin</span>
          </a>

      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-sitemap"></i>
              <span class="menu-title">Site Transfer</span>
          </a>
      </li>
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-object-group"></i>
              <span class="menu-title">Logging</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-cog"></i>
              <span class="menu-title">Settings</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-quora"></i>
              <span class="menu-title">Quotes</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-user-circle-o"></i>
              <span class="menu-title">Users</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-address-card"></i>
              <span class="menu-title">Default Logo</span>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon fa fa-bars"></i>
              <span class="menu-title">Site List</span>
          </a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="menu-icon fa fa-stumbleupon"></i>
              <span class="menu-title">User Communications</span>
              <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="#">Notifications</a>
                  </li>
                  <li class="nav-item"> <a class="nav-link" href="#">Documents</a></li>
                  
              </ul>
          </div>
      </li>

  </ul>
  <div id="wrapper" class="wrapper"></div>
</nav>
<!-- partial -->
