
<div class="page-head">
  <h2>Super Admin User Dashboard</h2>
  <ul>
    <li>Super User Dashboard</li>
  </ul>
</div>

<div class="content-boxes">
  <div class="info-box">
    <div class="card-group">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <figure><img src="assets/images/registered-icon.svg" alt="registered-site-icon"></figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TOTAL REGISTERED COMPANIES</h5>
              <p class="card-text">122</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <figure><img src="assets/images/active.svg" alt="active-icon"></figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ACTIVE COMPANIES</h5>
              <p class="card-text">130</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <figure><img src="assets/images/dormant.svg" alt="dormant-icon"></figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">DORMANT COMPANIES</h5>
              <p class="card-text">19</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="top-header">
    <h3>Registered Company(s)</h3>
    <button class="btn" (click)="goToCompany()">create company</button>

    <!--    <a href="#">create company</a>-->
  </div>

    <form [formGroup]="companyForm">
      <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Company Id<span class="required">*</span></label>
        <input type="text" formControlName="companyId" class="form-control" id="companyId" placeholder="Company Id"  >
      </div>
    </div>


    <div class="col-md-3">
      <div class="form-group">
        <label>Company Name<span class="required">*</span></label>
        <input type="text" class="form-control" formControlName="companyName" id="companyName" placeholder="Company Name" >
      </div>
    </div>


    <div class="col-md-3">
      <div class="form-group">
        <label>Email<span class="required">*</span></label>
        <input  type="text" class="form-control" formControlName="email" id="email" placeholder="Company Email" >
      </div>
    </div>



 <div class="col-sm-3 m-t33"> <input (click) = "onSubmit()" class="update-btn" type="button" value="Search">
   <input (click) = "onRefresh()" class="update-btn" type="button" value="Refresh">
<!--   <a  (click) = "onRefresh()"class="btn">Refresh</a> -->
 </div>
      </div>
    </form>


  <div class="header_wrap">
    <div class="num_rows">
    </div>

  </div>
  <table class="table table-striped table-class" id="table-id">

    <thead>
    <tr>
      <th>Company Id</th>
      <th>Company Name</th>
      <th>Email</th>
      <th>No Of Licensed Site</th>
      <th>Valid From</th>
      <th>Valid To</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of filterData ">
      <td>{{ item.companyId }}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.noOfLIcensedSite }}</td>
      <td>{{item.validFrom}}</td>
      <td>{{item.validTo}}</td>
      <td><a class="btn" (click)="goToProfile()">View Profile</a>
        <a class="btn" (click)="goToSupportLogin()">Support</a></td>
    </tr>
    <tbody>
  </table>

  <!--		Start Pagination -->
  <div class='pagination-container'>
    <nav>
      <ul class="pagination">
        <!--	Here the JS Function Will Add the Rows -->
      </ul>
    </nav>
    <div class="rows_count">Showing 11 to 20 of 91 entries</div>
  </div>

</div>

