<div class="page-head">
  <h2>Company Profile</h2>
  <ul>
    <li><a href="#">Super User Dashboard </a></li>
    <li>Company Profile</li>
  </ul>
</div>
<div class="content-boxes">
  <div class="info-box">
    <div class="card-group">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <figure><img src="assets/images/registered-icon.svg" alt="registered-site-icon"></figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Total number of registered sites</h5>
              <p class="card-text">1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <figure><img src="assets/images/active.svg" alt="active-icon"></figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Active sites</h5>
              <p class="card-text">1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <figure><img src="assets/images/dormant.svg" alt="dormant-icon"></figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dormant sites</h5>
              <p class="card-text">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="profile-view">
      <div class="card">
        <div class="card-body top-section">
          <div class="m-t-30 text-center"><img class="rounded-circle" src="assets/images/Dell_logo.png" width="150">
            <!--                                            <h4 class="card-title m-t-10">Dell</h4>-->
          </div>
          <p class="about-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
        <p class="expand"><a href="#">More Info <i class="fa fa-angle-double-down" aria-hidden="true"></i></a></p>
        <div class="card-body cmpny-dtls">
          <div class="left-bar">

            <div class="listing">
              <small class="text-muted p-t-30 db">Contact Person</small>
              <h6>Nihal Rajput</h6>
            </div>
            <div class="listing">
              <small class="text-muted p-t-30 db">Phone</small>
              <h6>+91 654 784 547</h6>
            </div>

            <div class="listing">
              <small class="text-muted p-t-30 db">Address</small>
              <h6>126 Fox Lane, BOBBINGWORTH</h6>
            </div>
            <div class="listing">
              <small class="text-muted p-t-30 db">Number of Sites</small>
              <h6>14</h6>
            </div>
            <div class="listing">
              <small class="text-muted p-t-30 db">Number of Company User</small>
              <h6>Active</h6>
            </div>
            <div class="listing">
              <small class="text-muted p-t-30 db">Language</small>
              <h6>English</h6>
            </div>
            <div class="listing">
              <small class="text-muted p-t-30 db">Valid From</small>
              <h6>01/03/2019</h6>
            </div>
            <div class="listing">
              <small class="text-muted p-t-30 db">Valid To</small>
              <h6>31/05/2019</h6>
            </div>
            <div class="listing">
              <small class="text-muted p-t-30 db">Contact Status</small>
              <h6>Active</h6>
            </div>
            <div class="social-links">
              <small class="text-muted p-t-30 db">Social Profile</small><button class="btn btn-circle btn-secondary"><i class="fa fa-facebook" aria-hidden="true"></i></button><button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button><button class="btn btn-circle btn-secondary"><i class="fa fa-youtube-play"></i></button>
            </div>
          </div>
          <div class="mid-bar">
            <div class="button-set">
              <a href="#">Modify</a>
              <a href="#">Change status</a>
              <a href="#">Reset Password</a>
            </div>

          </div>
          <div class="right-bar">
            <div class="adress-info">
              <div class="map-box"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.9891085355225!2d77.03589641542608!3d28.41958550043687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d229e71ef44dd%3A0x9931b80f30d32dd3!2sJMD+Megapolis!5e0!3m2!1sen!2sin!4v1552905604003" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="company-tables">
  <div class="row">
    <div class="col-md-12">
      <div class="main-content">
        <div class="top-header">
          <h3>User License(s)</h3>
        </div>
        <table class="table table-class user-table" id="table-id">
          <thead>
          <th>Row</th>
          <th>User</th>
          <th>Email</th>
          <th>Action</th>
          </thead>
          <tbody>
          <tr *ngFor="let item of getdata ">
            <td>1</td>
            <td>{{ item.user }}</td>
            <td>{{ item.email }}</td>
            <td><a class="btn" (click)="goToCompany()" >System Event</a>
              <a class="btn" (click)="goToUserWellbeing()">Well Being</a></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="main-content">
        <div class="top-header">
          <h3>Latest Well Being(s)</h3>
        </div>
        <table class="table table-class user-table" id="table-id">
          <thead>
          <th>Date</th>
          <th>User</th>
          <th>Object</th>
          <th>Room</th>
          </thead>
          <tbody>
          <tr *ngFor="let item of getwellbeingdata">
            <td>{{ item.date }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.object }}</td>
            <td>{{ item.room }}</td>
          </tr>
          <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.object }}</td>
            <td>{{ item.room }}</td>
          </tr>



          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="main-content">
        <div class="top-header">
          <h3>Latest System Event(s)</h3>
        </div>
        <table class="table table-class user-table" id="table-id">
          <thead>
          <th>Date</th>
          <th>User</th>
          <th>Object</th>
          <th>Room</th>
          </thead>
          <tbody>

          <tr *ngFor="let item of getsystemEventdata ">
            <td>{{ item.date }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.object }}</td>
            <td>{{ item.room }}</td>
          </tr>

          </tbody>
        </table>



      </div>
    </div>
  </div>
</div>
