
<div class="page-head">
  <h2>Broadcast Notification </h2>
  <div class="right-bar">
    <ul>
      <li><a href="#">Company Dashboard</a></li>
      <li>Company Profile </li>
    </ul>
    <a class="back-btn" href="#">Back</a>
  </div>
</div>

<div class="update-profile-section">

    <form [formGroup]="broadcastNotificationForm">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>Company Email</label>
            <input type="text" formControlName="companyemail"  class="form-control" id="companyemail" placeholder="Email">

          </div>

        </div>


        <div class="col-md-6">
          <div class="form-group">
            <label>Title<span class="required">*</span></label>

            <input type="text" formControlName="title"  [ngClass]="{ 'is-invalid': submitted && broadcastNotificationForm.controls.title.errors }" class="form-control" id="title" placeholder="Title">


<!--            <textarea formControlName="title" [ngClass]="{ 'is-invalid': submitted && broadcastNotificationForm.controls.title.errors }" class="form-control" id="title" placeholder="Title"></textarea>-->

            <div *ngIf="submitted && broadcastNotificationForm.controls.title.errors" class="invalid-feedback">
              <div *ngIf="broadcastNotificationForm.controls.title.errors.required"> required</div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label>Message<span class="required">*</span></label>
            <textarea formControlName="message" ng-model="message" [ngClass]="{ 'is-invalid': submitted && broadcastNotificationForm.controls.message.errors }" class="form-control txtarea" id="message" placeholder="Message :: Max Length 150 Characters"></textarea>

            <div *ngIf="submitted && broadcastNotificationForm.controls.message.errors" class="invalid-feedback">
              <div *ngIf="broadcastNotificationForm.controls.message.errors.required"> required</div>
            </div>
          </div>
        </div>





      <div class="col-md-12">
        <input (click) = "onSubmit()" class="update-btn" type="button" value="Send">
      </div>
      </div>

    </form>

</div>
<div class="company-tables">
  <div class="main-content">
    <div class="top-header">
      <h3>Broadcast Notification(s)</h3>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" id="searchTitle" placeholder="Title" (keyup)='filterByTitle($event.target.value)'>
        </div>
      </div>
      <div class="col-sm-3 m-t33"> <button class="update-btn">Search</button> <button class="update-btn">Refresh</button> </div>
    </div>

    <table class="table table-class user-table" id="table-id">
      <thead>
      <tr><th>Row</th>
        <th>Date Time</th>
        <th>Title</th>
        <th>Message</th>

      </tr></thead>
      <tbody>
      <tr *ngFor ="let item of filterData">
        <td>{{item.rowid}}</td>
        <td>{{item.datetime}}</td>
        <td>{{item.title}}</td>
        <td>{{item.message}}</td>
      </tr>

      </tbody>
    </table>
    <div class="pagination-container">
      <nav>
        <ul class="pagination">
          <li data-page="1" class="active"> <span>1<span class="sr-only">(current)</span></span> </li>
          <li data-page="2"> <span>2<span class="sr-only">(current)</span></span> </li>
          <li data-page="3"> <span>3<span class="sr-only">(current)</span></span> </li>
        </ul>
      </nav>
      <div class="rows_count">Showing 1 to 10 of 27 entries</div>
    </div>
  </div>
</div>
