
<div class="page-head">
  <h2>Create Company </h2>
  <div class="right-bar">
      <ul>
        <li><a [routerLink]="['/administrator/createCompany']">Dashboard </a></li>
        <li>Create Company</li>
      </ul>

    <a class="back-btn" href="#">Back</a>
  </div>
</div>

<div class="update-profile-section">
  <div class="left-sidebar">
    <label>Company logo</label>
    <div class="avatar-upload">
      <div class="avatar-edit">
        <input type="file" (change)="onFileChange($event)" id="logoImg" accept=".png, .jpg, .jpeg">
        <label for="logoImg"></label>
      </div>
      <div class="avatar-preview">
        <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);"></div>
      </div>
    </div>
  </div>
  <div class="right-sidebar">
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label> Name<span style="color: red" class="required">*</span></label>
            <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.name.errors }" class="form-control" id="name" placeholder="Name">
            <div *ngIf="submitted && companyForm.controls.name.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.name.errors.required">required</div>
            </div>
          </div>

        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label>Email<span class="required">*</span></label>
            <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.email.errors }" class="form-control" id="email" placeholder="Email">
            <div *ngIf="submitted && companyForm.controls.email.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.email.errors.required">Email is required</div>
            </div>
          </div>

        </div>



        <div class="col-md-4">
          <div class="form-group">
            <label>Phone<span class="required">*</span></label>
            <input type="text" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.phone.errors }" class="form-control" id="phone" placeholder="Phone">
            <div *ngIf="submitted && companyForm.controls.phone.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.phone.errors.required"> required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Contact person<span class="required">*</span></label>
            <input type="text" formControlName="contactPerson" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.contactPerson.errors }" class="form-control" id="contactPerson" placeholder="Contact Person">
            <div *ngIf="submitted && companyForm.controls.contactPerson.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.contactPerson.errors.required"> required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Address 1<span class="required">*</span></label>
            <textarea formControlName="address" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.address.errors }" class="form-control" id="address" placeholder="Address"></textarea>
            <div *ngIf="submitted && companyForm.controls.address.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.address.errors.required"> required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Address 2</label>
            <textarea formControlName="address2" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.address2.errors }" class="form-control" id="address2" placeholder="Address2"></textarea>
            <div *ngIf="submitted && companyForm.controls.address2.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.address2.errors.required"> required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Town<span class="required">*</span></label>
            <input type="text" formControlName="town" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.town.errors }"class="form-control" id="town" placeholder="Town">
            <div *ngIf="submitted && companyForm.controls.town.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.town.errors.required"> required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>County</label>
            <input type="text" formControlName="county" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.county.errors }" class="form-control" id="county" placeholder="County">
            <div *ngIf="submitted && companyForm.controls.county.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.county.errors.required"> required</div>
            </div>
          </div>
        </div>



        <div class="col-md-4">
          <div class="form-group">
            <label>postcode<span class="required">*</span></label>
            <input type="text" formControlName="postalCode" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.postalCode.errors }" class="form-control" id="postalCode" placeholder="PostCode">
            <div *ngIf="submitted && companyForm.controls.postalCode.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.postalCode.errors.required"> required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Number Of Licenses Per Site(Bubll Master)<span class="required">*</span></label>
            <input type="text" formControlName="allocatedLicencesPerSite" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.allocatedLicencesPerSite.errors }" class="form-control" id="allocatedLicencesPerSite" placeholder="Number Of License">
            <div *ngIf="submitted && companyForm.controls.allocatedLicencesPerSite.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.allocatedLicencesPerSite.errors.required"> required</div>
            </div>
          </div>
        </div>



                <div class="col-md-4">
          <div class="form-group">
            <label>Valid Form<span class="required">*</span></label>
            <input type="text" formControlName="companyLicenseValidFrom" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.companyLicenseValidFrom.errors }" class="form-control" id="companyLicenseValidFrom" placeholder="Valid Form">
            <div *ngIf="submitted && companyForm.controls.companyLicenseValidFrom.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.companyLicenseValidFrom.errors.required"> required</div>
            </div>

          </div>
        </div>


        <div class="col-md-4">
          <div class="form-group">
            <label>Valid To<span class="required">*</span></label>
            <input type="text" formControlName="companyLicenseValidTo" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.companyLicenseValidTo.errors }"class="form-control" id="companyLicenseValidTo"  placeholder="Valid To">
            <div *ngIf="submitted && companyForm.controls.companyLicenseValidTo.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.companyLicenseValidTo.errors.required"> required</div>
            </div>
          </div>
        </div>




<!--        <div class="col-md-4">-->
<!--          <div class="form-group">-->
<!--            <label>status<span class="required">*</span></label>-->
<!--            <select type="text" formControlName="status" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.status.errors }" class="form-control" id="status">-->
<!--              <option value="Active">Active</option>-->
<!--              <option value="Inactive">Inactive</option>-->
<!--            </select>-->
<!--            <div *ngIf="submitted && companyForm.controls.status.errors" class="invalid-feedback">-->
<!--              <div *ngIf="companyForm.controls.status.errors.required"> required</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-8">-->
<!--          <div class="form-group">-->
<!--            <label>Language <span class="required">*</span></label>-->
<!--            <p class="form-field pd-checkbox required no-label" formArrayName="language" *ngFor="let order of companyForm.controls.language.controls; let i = index">-->
<!--              <input id="checkbox{{i}}"  value="{{language[i].id}}" type="checkbox" [formControlName]="i">-->
<!--              <label class="inline" for="checkbox{{i}}">{{language[i].name}}</label>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->

        <div class="col-md-4">
          <div class="form-group">
            <label>support<span class="required">*</span></label>
            <select type="text" formControlName="isSupport" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.isSupport.errors }" class="form-control" id="isSupport">
              <option>Yes</option>
              <option>No</option>
            </select>
            <div *ngIf="submitted && companyForm.controls.isSupport.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.isSupport.errors.required"> required</div>
            </div>

          </div>
        </div>



<!--        <div class="col-md-4">-->
<!--          <div class="form-group">-->
<!--            <label>Default Language<span class="required">*</span></label>-->
<!--            <select type="text" formControlName="defaultLanguage" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.defaultLanguage.errors }" class="form-control" id="defaultLanguage">-->
<!--            </select>-->
<!--            <div *ngIf="submitted && companyForm.controls.defaultLanguage.errors" class="invalid-feedback">-->
<!--              <div *ngIf="companyForm.controls.defaultLanguage.errors.required"> required</div>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

        <div class="col-md-4">
          <div class="form-group">
            <label>Controller Change Limit *<span class="required">*</span></label>
            <input type="text" formControlName="controllerChangeLimit" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.controllerChangeLimit.errors }" class="form-control" id="controllerChangeLimit" placeholder="Controller Change Limit">
            <div *ngIf="submitted && companyForm.controls.controllerChangeLimit.errors" class="invalid-feedback">
              <div *ngIf="companyForm.controls.controllerChangeLimit.errors.required"> required</div>
            </div>
          </div>
        </div>


      </div>


<!--      <div class="col-md-4">-->
<!--      <label>Update background<span class="required">*</span></label>-->
<!--      <div class="box">-->
<!--        <div class="js&#45;&#45;image-preview"></div>-->
<!--        <div class="upload-options">-->
<!--          <label>-->
<!--            <input type="file" class="image-upload" formControlName="backgroundImg" [ngClass]="{ 'is-invalid': submitted && companyForm.controls.backgroundImg.errors }"class="form-control"id="backgroundImg" accept="image/*">-->
<!--          </label>-->

<!--          <div *ngIf="submitted && companyForm.controls.backgroundImg.errors" class="invalid-feedback">-->
<!--            <div *ngIf="companyForm.controls.backgroundImg.errors.required"> required</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
      <div class="col-md-12">
        <input (click) = "onSubmit()" class="update-btn" type="button" value="Submit">
      </div>


    </form>
  </div>
</div>
<div class="company-tables">
  <div class="main-content">
    <div class="top-header">
      <h3>SRegistered Company(s)</h3>
      <div class="event-num">
        <div class="buttons " (click)="exportAsXLSX()"><a class="btn dark-blue" href="#">Export To Excel</a></div>
        <div class="buttons "><a class="btn dark-blue" href="#">Back</a></div>
      </div>
    </div>
    <table class="table table-class user-table" id="table-id">
      <thead>
      <tr><th>Row</th>
        <th>Company Id</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Valid From</th>
        <th>Valid To</th>
        <th>Address</th>
        <th>Support Required</th>
        <th>Controller Limit</th>
        <th>Status</th>
        <th>Action</th>
      </tr></thead>
      <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.rowid}}</td>
        <td>{{item.companyid}}</td>
        <td>{{item.companyname}}</td>
        <td>{{item.email}}</td>
        <td>{{item.validFrom}}</td>
        <td>{{item.validTo}}</td>
        <td>{{item.address}}</td>
        <td>{{item.supportRequired}}</td>
        <td>{{item.controllerLimit}}</td>
        <td>{{item.status}}</td>
<td>
        <div class="button-switch">
          <input type="checkbox" (click)="loadModal($event.value)" id="switch-orange" class="switch" value="Change Status">
        </div>
<!--        <td><button class="btn" (click)="loadModal($event.value)">Change Status</button></td>td-->
</td>
      </tr>

      </tbody>
    </table>
    <div class="pagination-container">
      <nav>
        <ul class="pagination">
          <li data-page="1" class="active"> <span>1<span class="sr-only">(current)</span></span> </li>
          <li data-page="2"> <span>2<span class="sr-only">(current)</span></span> </li>
          <li data-page="3"> <span>3<span class="sr-only">(current)</span></span> </li>
        </ul>
      </nav>
      <div class="rows_count">Showing 1 to 10 of 27 entries</div>
    </div>
  </div>
</div>
